/***** Mobile Style *****/
img {
	margin: 0.25em 1% 0 1%;
	width: 98%;
}

/***** Tablet Style *****/
@media screen and (min-width: 600px) {
	img {
		margin-left: 1%;
		margin-right: 0;
		width: 48.5%;
		display: inline-block;
	}
}

/***** Desktop Style *****/
@media screen and (min-width: 900px) {
	#header {
		margin-top: 1em;
	}

	img {
		width: 32%;
	}
}
