@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Light.otf)
}

@font-face {
  font-family: Porcelain;
  src: url(./fonts/PORCELAIN.TTF)
}

$header_font: Porcelain;
$body_font: Montserrat;
$font_color: #E3D89E;
$background_color: #FFF8F5;
$break_small: 320px;
$break_medium: 900px;

body {
  background-color: $background_color;
  font-family: $body_font;
  color: $font_color;
}

#main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  font-family: $body_font;

  @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
    width: 100%;
  }
}

#main img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -0.5em;
  z-index: -1;
  width: 40em;

  @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
  }
}

a {
  text-decoration: none;
  color: $font_color;
  display: inline-block;
  margin-top: 0.5em;
}

h1 {
  font-size: 5em;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 0.25em;
  font-family: $header_font;
  font-weight: normal;

  @media (max-width: $break_small) {
    font-size: 3em;
  }

  @media (min-width: $break_small) and (max-width: $break_medium) {
    font-size: 4em;
  }

  span {
    position: absolute;
    right: 0;
    font-size: 0.75em;

    @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
      position: static;
      display: block;
    }
  }
}

#header {
  text-align: center;
}

#links {
  font-size: 1.5em;
  width: 18em;
  text-transform: uppercase;
  margin: 0 auto;

  @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
    text-align: center;
    width: 100%;
  }

  div {
    float: right;

    a:first-child {
      display: block;
    }

    @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
      margin-top: 2em;
      float: none;
    }
  }
}

#upload {
  color: transparent;
  font-family: $body_font;
  font-size: 24px;
}

#upload::-webkit-file-upload-button {
  visibility: hidden;
}

#upload::before {
  content: 'SHARE';
  display: inline-block;
  color: $font_color;
}
