@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Light.otf)
}

@font-face {
  font-family: Porcelain;
  src: url(./fonts/PORCELAIN.TTF)
}

$header_font: Porcelain;
$body_font: Montserrat;
$font_color: #E3D89E;
$background-color: #FFF8F5;

body {
  background-color: $background-color;
  font-family: $body_font;
  color: $font_color;
}

#main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

#main img {
  display: block;
  margin: 0 auto;
  position: relative;
  top: -0.5em;
  z-index: -1;
  width: 40em;
}

a {
  text-decoration: none;
  color: $font_color;
  display: inline-block;
  margin-top: 0.5em;
}

h1, h2 {
  font-family: $header_font;
  font-weight: normal;
}

h1 {
  font-size: 5em;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 0.25em;

  span {
    position: absolute;
    right: 0;
    font-size: 0.75em;
  }
}

h2 {
  font-size: 2.5em;
  text-align: right;
}

#header {
  text-align: center;
}

#links {
  font-size: 1.5em;
  width: 18em;
  text-transform: uppercase;
  margin: 0 auto;

  div {
    float: right;

    a:first-child {
      display: block;
    }
  }
}
