@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-Light.otf)
}

@font-face {
  font-family: Porcelain;
  src: url(./fonts/PORCELAIN.TTF)
}

$header_font: Porcelain;
$body_font: Montserrat;
$font_color: #E3D89E;
$background-color: #FFF8F5;
$break_small: 320px;
$break_medium: 900px;

body {
  background-color: $background-color;
  font-family: $body_font;
  color: $font_color;
}

#main {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  font-family: $body_font;
}

h1 {
  font-size: 5em;
  text-align: center;
  position: relative;
  display: inline-block;
  margin-top: 0.25em;
  font-family: $header_font;
  font-weight: normal;

  @media (max-width: $break_small), (min-width: $break_small) and (max-width: $break_medium) {
    font-size: 3em;
    margin: 1em 0;
  }
}

#header {
  text-align: center;
}
